/**
 * ----------------------------------------------------------------------------
 * Frontend CSS
 * ----------------------------------------------------------------------------
 */
.innexus-promotion-wrapper a {
  text-decoration: none;
}
.innexus-promotion-wrapper a .innexus-promotion-container {
  position: relative;
}
.innexus-promotion-wrapper a .innexus-promotion-container .innexus-promotion-line-container .innexus-promotion-line-1 {
  margin: 0;
  margin-bottom: 10px;
}
.innexus-promotion-wrapper a .innexus-promotion-container > img {
  width: 100%;
  margin: 0 auto;
  display: block;
}
.innexus-promotion-wrapper .innexus-promotion-line-container.position {
  z-index: 1;
  position: absolute;
}
.innexus-promotion-wrapper .innexus-promotion-line-container.position.top-left {
  left: 20px;
  right: 20px;
  top: 20px;
}
.innexus-promotion-wrapper .innexus-promotion-line-container.position.middle-left {
  left: 20px;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.innexus-promotion-wrapper .innexus-promotion-line-container.position.bottom-left {
  left: 20px;
  right: 20px;
  bottom: 20px;
}
.innexus-promotion-wrapper .innexus-promotion-line-container.position.top-right {
  right: 20px;
  left: 20px;
  top: 20px;
  text-align: right;
}
.innexus-promotion-wrapper .innexus-promotion-line-container.position.middle-right {
  right: 20px;
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: right;
}
.innexus-promotion-wrapper .innexus-promotion-line-container.position.bottom-right {
  right: 20px;
  left: 20px;
  bottom: 20px;
  text-align: right;
}
.innexus-promotion-wrapper .innexus-promotion-line-container.rectangle.top-left,
.innexus-promotion-wrapper .innexus-promotion-line-container.rectangle.middle-left,
.innexus-promotion-wrapper .innexus-promotion-line-container.rectangle.bottom-left {
  right: 50%;
}
.innexus-promotion-wrapper .innexus-promotion-line-container.rectangle.top-right,
.innexus-promotion-wrapper .innexus-promotion-line-container.rectangle.middle-right,
.innexus-promotion-wrapper .innexus-promotion-line-container.rectangle.bottom-right {
  left: 50%;
}
.innexus-promotion-wrapper.placeholder a .innexus-promotion-container {
  min-height: 300px;
  display: block;
  background-color: #ccc;
}
.innexus-promotion-wrapper.placeholder a .innexus-promotion-container:before,
.innexus-promotion-wrapper.placeholder a .innexus-promotion-container:after {
  content: '';
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 90%;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  visibility: visible;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.innexus-promotion-wrapper.placeholder a .innexus-promotion-container:before {
  -webkit-transform: translateY(-50%) rotate(18deg);
  -moz-transform: translateY(-50%) rotate(18deg);
  -o-transform: translateY(-50%) rotate(18deg);
  -ms-transform: translateY(-50%) rotate(18deg);
  transform: translateY(-50%) rotate(18deg);
  transform-origin: center;
}
.innexus-promotion-wrapper.placeholder a .innexus-promotion-container:after {
  -webkit-transform: translateY(-50%) rotate(-18deg);
  -moz-transform: translateY(-50%) rotate(-18deg);
  -o-transform: translateY(-50%) rotate(-18deg);
  -ms-transform: translateY(-50%) rotate(-18deg);
  transform: translateY(-50%) rotate(-18deg);
  transform-origin: center;
}
